<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" strict="true" bootstrap="./tests/bootstrap.php">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
	
	<logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
    </logging>

</phpunit>